<main class="container">
  <mat-card class="card-container">
    <mat-card-content>Login to Depression Test website</mat-card-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Long Last Name That Will Be Truncated</mat-label>
        <input matInput>
      </mat-form-field>
    </td>

    <button mat-button>Basic</button>
    <button mat-button>Basic</button>
  </mat-card>
</main>
