<mat-stepper linear #stepper>




  <mat-step label="เริ่มต้นการทำแบบทดสอบ">

    <!-- <ng-template matStepLabel>Take a Test</ng-template> -->
    <div class="row">

      <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
      [(ngModel)]="favstudy">
      <mat-radio-button class="example-radio-button" *ngFor="let study of studys" [value]="study">
        {{study}}
      </mat-radio-button>
    </mat-radio-group> -->

      <div class="col-12">

        <div class="card">
          <div class="border-bottom p-3">


            <h4 class=" fs-3" style="text-align: center;">ยินดีต้อนรับสู่แบบทดสอบการให้คำปรึกษา

              คำถามสุขภาพของผู้ป่วย-9 (PHQ-9)
            </h4>
            <h6 class="text-muted" style="text-align: center;">โปรดใส่คะแนนให้ตรงกับคำตอบของท่าน

              (เกณฑ์ให้คะแนน : ไม่เลย = 0, มีบางวันหรือไม่บ่อย = 1, มีค่อนข้างบ่อย = 2, มีเกือบทุกวัน = 3)
            </h6>
            <h6 class="text-muted" style="text-align: center;"> ในช่วง 2
              สัปดาห์ที่ผ่านมา คุณมีปัญหาต่อไปนี้บ่อยเพียงใด (ใช้ “✔”
              เพื่อระบุคำตอบของคุณ)
            </h6>
          </div>
          <label class="radio" id="example-radio-group-label"> 1. เบื่อ ทำอะไร ๆ ก็ไม่เพลิดเพลิน</label>


          <mat-radio-group [(ngModel)]="favfirst" class="example-radio-group">

            <mat-radio-button class="example-radio-button" *ngFor="let first of firsts" [value]="first">
              {{first}}
            </mat-radio-button>
          </mat-radio-group>


          <mat-divider></mat-divider>




          <label class="radio" id="example-radio-group-label"> 2. ไม่สบายใจ
            ซึมเศร้า หรือท้อแท้</label>
          <div class="w-fit">
            <mat-radio-group [(ngModel)]="favsecond" class="example-radio-group">

              <mat-radio-button class="example-radio-button" *ngFor="let second of seconds" [value]="second">
                {{second}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-divider></mat-divider>



          <label class="radio" id="example-radio-group-label">3. หลับยาก หรือหลับ ๆ ตื่น ๆ หรือหลับมากไป</label>
          <div class="w-fit">
            <mat-radio-group [(ngModel)]="favthird" class="example-radio-group">

              <mat-radio-button class="example-radio-button" *ngFor="let third of thirds" [value]="third">
                {{third}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-divider></mat-divider>



          <label class="radio" id="example-radio-group-label"> 4. เหนื่อยง่าย
            หรือไม่ค่อยมีแรง</label>
          <div class="w-fit">
            <mat-radio-group [(ngModel)]="favfour" class="example-radio-group">

              <mat-radio-button class="example-radio-button" *ngFor="let four of fours" [value]="four">
                {{four}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-divider></mat-divider>



          <label class="radio" id="example-radio-group-label">5. เบื่ออาหาร
            หรือกินมากเกินไป</label>
          <div class="w-fit">
            <mat-radio-group [(ngModel)]="favfive" class="example-radio-group">

              <mat-radio-button class="example-radio-button" *ngFor="let five of fives" [value]="five">
                {{five}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-divider></mat-divider>



          <label class="radio" id="example-radio-group-label"> 6. รู้สึกไม่ดีกับตัวเอง คิดว่าตัวเองล้มเหลว
            หรือเป็นคนทำให้ตัวเอง
            หรือครอบครัวผิดหวัง</label>
          <div class="w-fit">
            <mat-radio-group [(ngModel)]="favsix" class="example-radio-group">

              <mat-radio-button class="example-radio-button" *ngFor="let six of sixs" [value]="six">
                {{six}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-divider></mat-divider>



          <label class="radio" id="example-radio-group-label">7. สมาธิไม่ดีเวลาทำอะไร เช่น ดูโทรทัศน์ ฟังวิทยุ
            หรือทำงานท่ีต้องใช้ความตั้งใจ</label>
          <div class="w-fit">
            <mat-radio-group [(ngModel)]="favseven" class="example-radio-group">

              <mat-radio-button class="example-radio-button" *ngFor="let seven of sevens" [value]="seven">
                {{seven}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-divider></mat-divider>



          <label class="radio" id="example-radio-group-label"> 8.พูดหรือทำอะไรช้าจนคนอื่นมองเห็น
            หรือกระสับกระส่ายจนท่านอยู่ไม่นิ่งเหมือนเคย</label>
          <div class="w-fit">
            <mat-radio-group [(ngModel)]="faveight" class="example-radio-group">

              <mat-radio-button class="example-radio-button" *ngFor="let eight of eights" [value]="eight">
                {{eight}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-divider></mat-divider>



          <label class="radio" id="example-radio-group-label"> 9. คิดทำร้ายตนเอง หรือคิดว่าถ้าตาย ๆ ไปเสียคงจะดี</label>
          <div class="w-fit">
            <mat-radio-group [(ngModel)]="favnine" class="example-radio-group">

              <mat-radio-button class="example-radio-button" *ngFor="let nine of nines" [value]="nine">
                {{nine}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-divider></mat-divider>



          <label class="radio" id="example-radio-group-label"> ถ้าท่านตอบว่ามีอาการไม่ว่าในข้อใดก็ตาม อาการนั้นๆ
            ทำให้ท่านมีปัญหาในการทำงาน การดูแลสิ่งต่างๆ ในบ้าน หรือการเข้ากับผู้คน หรือไม่</label>
          <div class="w-fit">
            <mat-radio-group [(ngModel)]="favten" class="example-radio-group">

              <mat-radio-button class="example-radio-button" *ngFor="let ten of tens" [value]="ten">
                {{ten}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-pre" mat-button matStepperPrevious>กลับ</button>
      <button class="btn btn-next" mat-button matStepperNext>ถัดไป</button>
      <!-- <button class="btn" mat-button (click)='submit()'>Next</button> -->
    </div>
  </mat-step>

  <mat-step label="ตรวจสอบและเสนอแนะ">
    <div class="row">






      <div class="col-12">

        <div class="card w-100">
          <div class="border-bottom p-3">
            <h4 class="card-title mb-0">ข้อเสนอแนะสำหรับการประเมินและเว็บไซต์</h4>
            <small class="text-mute">ข้อเสนอแนะสำหรับการประเมินและเว็บไซต์เพื่อปรับปรุงและพัฒนาเว็บไซต์สำหรับ
              การวิจัยต่อไป</small>
          </div>

          <form class="example-form" [formGroup]="Feedback">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>คำแนะนำสำหรับเว็บไซต์</mat-label>
              <input matInput placeholder=" " formControlName="feedback">
            </mat-form-field>
          </form>

          <mat-divider></mat-divider>


        </div>


      </div>
    </div>
    <div>
      <button class="btn" mat-button (click)="stepper.reset()">เริ่มต้นใหม่</button>
      <button class="btn btn-pre" mat-button matStepperPrevious>ย้อนกลับ</button>
      <button class="btn" mat-button (click)="submit()">เสร็จสิ้น</button>
    </div>
  </mat-step>


</mat-stepper>
