.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.headtext {
  margin-left: 30px;
  margin-top: 20px;

  font-size: xx-large;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}
img {
  max-width: 100%;
}
.image {
  flex-basis: 10%;
  min-width: 100px;
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
.grid {
  top: -35%;

  align-items: left;
  display: flex;
  justify-content: left;
}
.grid1 {
  top: -35%;
  padding-left: -20px;
  align-items: left;
  display: flex;
  justify-content: left;
}
