<div class="card">
  <div class="headtext">About Us</div>
  <p style="margin-left: 30px;">This program is created for research subjects only. This website is only about examining
    the level of depression
    among University of Phayao students. The research author is Miss Sirikamon Chankul and the research advisor is
    Mr.Nutdanai. Hope you enjoy our page.</p>
  <br>
  <mat-divider></mat-divider>
  <mat-grid-list cols="2">
    <mat-grid-tile class="grid">
      <div class="image">

        <img class="card-img-top img-responsive" src="https://ict.up.ac.th/web/images/personal/natthapongk.jpg"
          class="fit" alt="Teacher">
      </div>
      <div class="text">
        <h4><b>Mr. Natdanai Khamkad</b></h4>
        <p>faculty member & Research Advisor</p>
        <a href="https://www.scopus.com/authid/detail.uri?authorId=57216207659" class="btn btn-primary">Ocopus</a>
      </div>

    </mat-grid-tile>

    <mat-grid-tile class="grid1">
      <div class="image">

        <img class="card-img-top img-responsive" src="https://ict.up.ac.th/web/images/personal/rathasak.jpg" class="fit"
          alt="Teacher">
      </div>
      <div class="text">
        <h4><b>Mr. Rattasak Pengchata</b></h4>
        <p>faculty member </p>
        <a href="https://www.scopus.com/authid/detail.uri?authorId=57302561700" class="btn btn-primary">Ocopus</a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>






</div>
<br>
<br>








<!-- <h2 class="card-title" style="margin-top: 20px;margin-left:40px;">About Us</h2>
<h5 class="card-subtitle text-muted" style="margin-left:30px;">This program is created for research subjects only. This
  website is only
  about
  examining the level of depression among University of Phayao students.
</h5>
<h5 class="card-subtitle text-muted" style="margin-left:20px;">The research author is Miss Sirikamon Chankul and the
  research advisor is
  Mr.Nutdanai. Hope you enjoy our page and you can make suggestions to our page in Feedback Page. </h5>
<div class="row">
  <div class="col-lg-4 col-md-2">
    <div class="card" style="margin-top: 20px;">
      <div class="card-body">

        <img class="card-img-top img-responsive" src="https://ict.up.ac.th/web/images/personal/natthapongk.jpg"
          class="fit" alt="Teacher" />
        <div class="card-body">
          <h4 class="card-title">นายณัฐดนัย คำขาด</h4>
          <p class="card-text">
            อาจารย์ที่ปรึกษาวิจัย
          </p>
          <a href="https://www.scopus.com/authid/detail.uri?authorId=57216207659" class="btn btn-primary">Ocopus</a>
        </div>


      </div>

    </div>

  </div>
  



</div> -->
