table {
  width: 100%;
  margin-top: 30px;
}
.example-form-field {
  padding: 25px;
  margin-top: 10px;
}

.mat-datepicker-toggle {
  position: absolute;
  top: -12px;
  right: 0;
}
.filter {
  width: 100%;
}
