.button1 {
  display: table-cell;
  font-size: 17px;
  margin: 8px 8px 8px 0;
  min-width: 150px;
  
}
.button2 {
  display: table-cell;  
  font-size: 17px;
  margin: 8px 8px 8px 0;
  min-width: 150px;
}
