<mat-card class="example-card" id="sopi">

  <mat-card-header>
    <mat-card-title>Your Profile </mat-card-title>
    <mat-card-subtitle>You can edit and change your password in here!</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>






    <mat-form-field class="grid-item" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput #Year maxlength="1" placeholder="xxxxxxxx@up.ac.th">
    </mat-form-field>

    <mat-form-field class="grid-item" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="grid-item" appearance="fill">
      <mat-label>Confirm your Password again</mat-label>
      <input matInput type="password" placeholder="Edit password" formControlName="password" required>
      <!-- <mat-error *ngIf="loginFormControl.invalid">
          Please provide a valid password.
        </mat-error> -->
    </mat-form-field>
      
    <br>

    <div class="mat-button">
      <button mat-raised-button color="primary" (click)="openDialog()">save</button>
    </div>
  </mat-card-content>

</mat-card>
